# This timer unit is for persisting my command history at a regular interval
# By Gale Shafer
# Something something Shopify
#

[Unit]
Description=Persists the McFly cartridge
Requires=persist-history.service

[Timer]
Unit=persist-history.service
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target
